# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

aiohttp~=3.8.4
aiolimiter~=1.0.0
azure-data-tables~=12.4.2
azure-functions~=1.13.2
azure-identity~=1.12.0
azure-mgmt-policyinsights~=1.0.0
azure-mgmt-resource~=22.0.0
# Only a beta version is availabel at this time: 1.0.0b1
azure-monitor-ingestion
requests~=2.28.2
